{% extends "courses/about_block.html" %}
{% load static %}


{% block scripts %}
    <script>
        $(document).ready(function () {

            $('#courseTitle').on('click', function () {
                $('#courseTitle').hide();
                $('#titleChangeForm').show();
            });

            $('#courseAbout').on('click', function () {
                $('#courseAbout').hide();
                $('#courseAboutFrom').show();
            });

            $('#courseInfo').on('click', function () {
                $('#courseInfo').hide();
                $('#courseInfoForm').show();
            });

            $('#titleChangeForm').on('submit', function (event) {
                event.preventDefault();
                text = $('#courseTitleInput').val();
                newText = change_title_request(
                    course_id = '{{ course.id }}',
                    field='title', 
                    text=text);
                $('#courseTitle').text(newText);
                $('#titleChangeForm').hide();
                $('#courseTitle').show();
            });

            $('#courseAboutFrom').on('submit', function (event) {
                event.preventDefault();
                text = $('#courseAboutInput').val();
                newText = change_title_request(
                    course_id = '{{ course.id }}',
                    field='description', 
                    text=text);
                $('#courseAbout').text(newText);
                $('#courseAboutFrom').hide();
                $('#courseAbout').show();
            });

            $('#courseInfoForm').on('submit', function (event) {
                event.preventDefault();
                text = $('#courseInfoInput').val();
                newText = change_title_request(
                    course_id = '{{ course.id }}',
                    field='info', 
                    text=text);
                $('#courseInfo').text(newText);
                $('#courseInfoForm').hide();
                $('#courseInfo').show();
            });

        });
    </script>
    <script src="{% static 'js/change_about.js' %}"></script>
{% endblock scripts %}

