{% extends "courses/table.html" %}
{% load static %}

{% block add_coll_btn %}
<th>
    <button class="btn" id="addCol">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20">
            <path fill="#888888"
                d="M11 7v2H3v2h8v2l3-3l-3-3zm4-4.4v14.8c0 .551.448.6 1 .6c.553 0 1-.049 1-.6V2.6c0-.553-.447-.6-1-.6c-.552 0-1 .047-1 .6z" />
        </svg>
    </button>
</th>
{% endblock add_coll_btn %}


{% block add_row_btn %}
<td>
    <button class="btn" id="addRow">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20">
            <path fill="#888888"
                d="M13 11h-2V3H9v8H7l3 3l3-3zm4.4 4H2.6c-.552 0-.6.447-.6 1c0 .553.048 1 .6 1h14.8c.552 0 .6-.447.6-1c0-.553-.048-1-.6-1z" />
        </svg>
    </button>
</td>
{% endblock add_row_btn %}


{% block add_cell_btn %}
<button class="btn" id="addCell">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20">
        <path fill="#888888" d="M10 1.6a8.4 8.4 0 1 0 0 16.8a8.4 8.4 0 0 0 0-16.8zm5 9.4h-4v4H9v-4H5V9h4V5h2v4h4v2z" />
    </svg>
</button>
{% endblock add_cell_btn %}

{% block table_scripts %}
<script>
    $(document).ready(function () {

        $('#schedule').on('click', '#addRow', function () {

            // Выбираем таблицу и определяем количество столбцов
            let table = $('#schedule tbody');
            let numCols = $('#schedule thead th');

            let weekCell = $('#schedule tbody .calendarWeekCell').length + 1;

            try {
                addRowRequest(weekCell, '{{ course.id }}')
                addRow(weekCell, numCols, table);
            }
            catch (e) {
                console.log(e);
            }

        });


        $('#schedule').on('click', '#addCol', function () {
            let enabledDays = getEnableDays('{{ course.id }}');
            if (enabledDays.length == 0) {
                alert('Нет доступных дней для добавления');
                return;
            } else {
                let form = newCollonForm(enabledDays);
                $('.table-responsive').empty();
                $('.table-responsive').append(form);
            }
        });

        $('.table-responsive').on('click', '#addColSubmit', function (event) {
            event.preventDefault();
            day = $('#daySelected').val();
            try {
                updateTable(day_id = day, course_id = '{{ course.id }}');
                location.reload(true);
            } catch (e) {
                alert(e);
            }
        });

        $('#schedule').on('click', '#addCell', function () {
            let currentCell = this.parentElement;
            currentCell.innerHTML = renderLectureForm(getCellPosition(currentCell));
        });

        $('#schedule').on('click', '#addLecture', function(event){
            event.preventDefault();
            let pos = getCellPosition(this.parentElement);
            let data = {
                'week_id': pos.week_id,
                'day': pos.day,
                'date': $(`#lecture-date\\:${pos.week_id}\\:${pos.day}`).val(),
                'title': $(`#lecture-title\\:${pos.week_id}\\:${pos.day}`).val(),
                'course_id': '{{ course.id }}',
                'csrfmiddlewaretoken': getCookie('csrftoken')
            }
            sendLectureForm(data);
        })

    });

</script>
<script src="{% static "js/add_row.js" %}"></script>
<script src="{% static "js/add_column.js" %}"></script>
<script src="{% static "js/add_lecture.js" %}"></script>
{% endblock table_scripts %}