<navbar-component>
    <nav class="navbar navbar-expand-sm navbar-dark mb-3">
        <a href="/" class="navbar-brand " style="font-family:Jost; color:white; font-size:1rem; font-weight:700; ">Курсы</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a href="#calendar" class="nav-item nav-link" style="color: rgba(255, 255, 255, 1);">
                    Расписание
                </a>
                <a href="/admin" class="nav-item nav-link" style="color: rgba(255, 255, 255, 1);">
                    Админ
                </a>
            </div>
        </div>
    </nav>
</navbar-component>