{% load table %}
{% load static %}

{% url 'courses:course' course.id as n_url %}

{% get_head_days as days %}
{% get_weeks as weeks %}

<thead>
    <tr>
        <th style="col-lg-2">Неделя</th>
        {% for day in days %}
        <th style="col-lg-5">{{ day.name|translate_day }}</th>
        {% endfor %}
        {% block add_coll_btn %}
        {% endblock add_coll_btn %}
        {% block edit_button %}
            {% if request.user.is_authenticated and request.user.is_staff %}
                {% if request.path == n_url %}
                    <th>
                        <div class="m-2">
                            <a href="{% url 'courses:course_admin' course.id %}" class="btn btn-primary">Изменить</a>
                        </div>
                    </th>
                {% endif %}
            {% endif %}
        {% endblock edit_button %}
    </tr>
</thead>
<tbody>
    {% for week in weeks %}
    <tr>
        <td class="calendarWeekCell">
            {{ week.week_number }}
        </td>
        {% for day in days %}
        {% get_lecture week day as lecture %}
        {% if lecture %}
        <td class="calendarCell" id='{{week.week_number}}:{{day}}'>
            <div style="position:relative">
                <div class="inOut">
                    <div id="date">{{ lecture.str_date }}</div>
                    <br>
                    <div id="title">{{ lecture.title }}</div>
                </div>
                <div class="classLinks">
                    {% for file in lecture.attacments.all %}
                    <div class="row mb-2">
                        <div class="col-lg-4">
                            <a href="{{ file.file.url }}" target="_blank">{{ file }}</a>
                        </div>
                        {% block delet_file %}
                        {% endblock delet_file %}
                    </div>
                    {% endfor %}
                    <br>
                    {% block add_file %}
                    {% endblock add_file %}
                </div>
                <div class="edit_lecture_btn">
                    {% block edit_lecture %}
                    {% endblock edit_lecture %}
                </div>
                <br>
            </div>
        </td>
        {% else %}
        <td class="emptyCell" id='{{week.week_number}}:{{day}}'>
            {% block add_cell_btn %}
            {% endblock add_cell_btn %}
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    <tr id="lastRow">
        {% block add_row_btn %}
        {% endblock add_row_btn %}
    </tr>
</tbody>
{% block table_scripts %}
{% endblock table_scripts %}