{% load table %}
{% load static %}

{% get_head_days as days %}
{% get_weeks as weeks %}

<thead>
    <tr>
        <th style="col-lg-2">Week</th>
        {% for day in days %}
        <th style="col-lg-5">{{ day }}</th>
        {% endfor %}
        {% block add_coll_btn %}
        {% endblock add_coll_btn %}
    </tr>
</thead>
<tbody>
    {% for week in weeks %}
    <tr>
        <td class="calendarWeekCell">
            {{ week.week_number }}
        </td>
        {% for day in days %}
        {% get_lecture week day as lecture %}
        {% if lecture %}
        <td class="calendarCell">
            <div style="position:relative">
                <div class="inOut">
                    {{ lecture.date }}
                    <br>
                    {{ lecture.title }}
                </div>
                <div class="classLinks">
                    {% for file in lecture.attacments.all %}
                    <a href="{{ file.file.url }}" target="_blank">{{ file.name }}</a>
                    <br>
                    {% endfor %}
                    <br>
                </div>
            </div>
        </td>
        {% else %}
        <td class="emptyCell" id='{{week.week_number}}:{{day}}'>
            {% block add_cell_btn %}
            {% endblock add_cell_btn %}
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    <tr id="lastRow">
        {% block add_row_btn %}
        {% endblock add_row_btn %}
    </tr>
</tbody>
{% block table_scripts %}
{% endblock table_scripts %}